:root {

  /* Fonts */
  --primaryFont: 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  
  /* Colors */
  --black: #0A0A0A;
  --white: #FFFFFF;
  --grey: #F3F3F3;
  --darkGrey: #CFCFCF;
  --green: #B6EF14;

  --alert-darkGreen: #25bb32;
  --alert-lightGreen: #6be675;

  --alert-darkRed: #bb2525;
  --alert-lightRed: #e66b6b;
}

body {
  margin: 0;
  font-family: var(--primaryFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  background-color: var(--white);
}

* {
  box-sizing: border-box;
}
